# Data Injestion and Feature Extraction

The purpose of this notebook is as follows:

1) To showcase the data injestion from various online sources to form the required data table/panel.

2) Followed by creating as many functions as required to further streamline the process for later use.

### Task:-

1) List NUTS2 Regions (DONE)

2) Get GDP per region (DONE) - Unit: Euros per Inhabitants

3) Get Corporate Tax per country (DONE)

4) Education Level per NUTS2 region (DONE)

5) Water Level Nuts 1 region (DONE)

6) Add Soverign Territories - 
    Task looks simple but is one of the challenging problem and the reason for it as follows, the data that we are capturing here is directly from the EU statisitcal office and as these countries are not included here it is a seprate task to find the data that will match these units in all the categories such as education, water levels etc.

7) Climate Conditons 

8) Data similar to NUTs2 level in US

### My Approach

The idea is to rely on not only sources which are authentic but also a manner in which the data injestion method can be entirely automated with API and request calls.

Though this handicap can result in not aquiring all the categories of data mentioned above,but it will be certianly more valuable as these tasks can be automated and a real time data analysis in the future can be done easily

### Importing Libraries

In [3]:
import pandas as pd
import eurostat as es
import numpy as np
import matplotlib as plt
import seaborn as se

### Step 1: Get the EU Nuts 2 Region Data and GDP

The "Eurostat" python library is directly linked to the offical EU website which contains reliable and latest information regarding all the diffrent regions in the EU in various scale levels.

Eurostat is the statistical office of the European Union.

The link to the website is as follows:-
https://ec.europa.eu/eurostat/en/web/main/data/database

#### Mehtod 1: TSV

In [10]:
toc_df = es.get_data_df('nama_10r_2gdp')

In [59]:
pd.set_option('display.max_rows', 100)
toc_df

,unit,geo\time,2019,2018,2017,2016,2015,2014,2013,2012,...,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,EUR_HAB,AL,4800.0,4500.0,4000.0,3700.0,3600.0,3500.0,3300.0,3300.0,...,3000.0,3000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,EUR_HAB,AL0,4800.0,4500.0,4000.0,3700.0,3600.0,3500.0,3300.0,3300.0,...,3000.0,3000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,EUR_HAB,AL01,3900.0,3600.0,3300.0,3100.0,2900.0,2700.0,2700.0,2700.0,...,2400.0,2300.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EUR_HAB,AL02,5700.0,5400.0,4900.0,4400.0,4300.0,4100.0,3900.0,3900.0,...,4000.0,4000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,EUR_HAB,AL03,4300.0,4000.0,3600.0,3400.0,3300.0,3400.0,3200.0,3100.0,...,2400.0,2500.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3073,PPS_HAB_EU27_2020,TRB2,25.0,25.0,26.0,26.0,26.0,25.0,24.0,26.0,...,18.0,18.0,17.0,17.0,16.0,15.0,NaN,NaN,NaN,NaN
3074,PPS_HAB_EU27_2020,TRC,30.0,32.0,33.0,33.0,34.0,33.0,32.0,29.0,...,23.0,23.0,22.0,22.0,21.0,21.0,NaN,NaN,NaN,NaN
3075,PPS_HAB_EU27_2020,TRC1,38.0,41.0,42.0,42.0,44.0,41.0,39.0,35.0,...,26.0,27.0,27.0,27.0,26.0,25.0,NaN,NaN,NaN,NaN
3076,PPS_HAB_EU27_2020,TRC2,23.0,24.0,27.0,27.0,29.0,27.0,27.0,26.0,...,20.0,20.0,21.0,21.0,20.0,20.0,NaN,NaN,NaN,NaN
3077,PPS_HAB_EU27_2020,TRC3,30.0,31.0,33.0,31.0,32.0,32.0,30.0,29.0,...,22.0,21.0,20.0,20.0,19.0,18.0,NaN,NaN,NaN,NaN

The above method es.get_data_df grabs the data from a TSV format which in our case, where we want to isolate induvidual NUTS2 region is not useful, hence other method will be explored. 

The reason to showcase this data is to keep it as a reminder to come back to find the use case for this format of the data

#### Method 2: SDMX ( 1 obs = 1 row)

In [18]:
dims = es.get_sdmx_dims('nama_10r_2gdp')
dims

['FREQ', 'GEO', 'INDICATORS', 'OBS_FLAG', 'TIME', 'UNIT']

In [21]:
Freq = es.get_sdmx_dic('nama_10r_2gdp', 'FREQ')
Freq

{'A': 'Annual',
 'D': 'Daily',
 'H': 'Half-year',
 'M': 'Monthly',
 'Q': 'Quarterly',
 'S': 'Semi-annual',
 'W': 'Weekly'}

In [34]:
Geo = es.get_sdmx_dic('nama_10r_2gdp', 'GEO')
Geo

{'AL': 'Albania',
 'AL0': 'Shqipëria',
 'AL01': 'Veri',
 'AL02': 'Qender',
 'AL03': 'Jug',
 'AT': 'Austria',
 'AT1': 'Ostösterreich',
 'AT11': 'Burgenland (AT)',
 'AT12': 'Niederösterreich',
 'AT13': 'Wien',
 'AT2': 'Südösterreich',
 'AT21': 'Kärnten',
 'AT22': 'Steiermark',
 'AT3': 'Westösterreich',
 'AT31': 'Oberösterreich',
 'AT32': 'Salzburg',
 'AT33': 'Tirol',
 'AT34': 'Vorarlberg',
 'ATZ': 'Extra-Regio NUTS 1',
 'ATZZ': 'Extra-Regio NUTS 2',
 'BE': 'Belgium',
 'BE1': 'Région de Bruxelles-Capitale/Brussels Hoofdstedelijk Gewest',
 'BE10': 'Région de Bruxelles-Capitale/Brussels Hoofdstedelijk Gewest',
 'BE2': 'Vlaams Gewest',
 'BE21': 'Prov. Antwerpen',
 'BE22': 'Prov. Limburg (BE)',
 'BE23': 'Prov. Oost-Vlaanderen',
 'BE24': 'Prov. Vlaams-Brabant',
 'BE25': 'Prov. West-Vlaanderen',
 'BE3': 'Région wallonne',
 'BE31': 'Prov. Brabant wallon',
 'BE32': 'Prov. Hainaut',
 'BE33': 'Prov. Liège',
 'BE34': 'Prov. Luxembourg (BE)',
 'BE35': 'Prov. Namur',
 'BEZ': 'Extra-Regio NUTS 1',
 'BEZZ': 'Extra-Regio NUTS 2',
 'BG': 'Bulgaria',
 'BG3': 'Severna i yugoiztochna Bulgaria',
 'BG31': 'Severozapaden',
 'BG32': 'Severen tsentralen',
 'BG33': 'Severoiztochen',
 'BG34': 'Yugoiztochen',
 'BG4': 'Yugozapadna i yuzhna tsentralna Bulgaria',
 'BG41': 'Yugozapaden',
 'BG42': 'Yuzhen tsentralen',
 'CY': 'Cyprus',
 'CY0': 'Kypros',
 'CY00': 'Kypros',
 'CZ': 'Czechia',
 'CZ0': 'Cesko',
 'CZ01': 'Praha',
 'CZ02': 'Strední Cechy',
 'CZ03': 'Jihozápad',
 'CZ04': 'Severozápad',
 'CZ05': 'Severovýchod',
 'CZ06': 'Jihovýchod',
 'CZ07': 'Strední Morava',
 'CZ08': 'Moravskoslezsko',
 'DE': 'Germany (until 1990 former territory of the FRG)',
 'DE1': 'Baden-Württemberg',
 'DE11': 'Stuttgart',
 'DE12': 'Karlsruhe',
 'DE13': 'Freiburg',
 'DE14': 'Tübingen',
 'DE2': 'Bayern',
 'DE21': 'Oberbayern',
 'DE22': 'Niederbayern',
 'DE23': 'Oberpfalz',
 'DE24': 'Oberfranken',
 'DE25': 'Mittelfranken',
 'DE26': 'Unterfranken',
 'DE27': 'Schwaben',
 'DE3': 'Berlin',
 'DE30': 'Berlin',
 'DE4': 'Brandenburg',
 'DE40': 'Brandenburg',
 'DE5': 'Bremen',
 'DE50': 'Bremen',
 'DE6': 'Hamburg',
 'DE60': 'Hamburg',
 'DE7': 'Hessen',
 'DE71': 'Darmstadt',
 'DE72': 'Gießen',
 'DE73': 'Kassel',
 'DE8': 'Mecklenburg-Vorpommern',
 'DE80': 'Mecklenburg-Vorpommern',
 'DE9': 'Niedersachsen',
 'DE91': 'Braunschweig',
 'DE92': 'Hannover',
 'DE93': 'Lüneburg',
 'DE94': 'Weser-Ems',
 'DEA': 'Nordrhein-Westfalen',
 'DEA1': 'Düsseldorf',
 'DEA2': 'Köln',
 'DEA3': 'Münster',
 'DEA4': 'Detmold',
 'DEA5': 'Arnsberg',
 'DEB': 'Rheinland-Pfalz',
 'DEB1': 'Koblenz',
 'DEB2': 'Trier',
 'DEB3': 'Rheinhessen-Pfalz',
 'DEC': 'Saarland',
 'DEC0': 'Saarland',
 'DED': 'Sachsen',
 'DED2': 'Dresden',
 'DED4': 'Chemnitz',
 'DED5': 'Leipzig',
 'DEE': 'Sachsen-Anhalt',
 'DEE0': 'Sachsen-Anhalt',
 'DEF': 'Schleswig-Holstein',
 'DEF0': 'Schleswig-Holstein',
 'DEG': 'Thüringen',
 'DEG0': 'Thüringen',
 'DK': 'Denmark',
 'DK0': 'Danmark',
 'DK01': 'Hovedstaden',
 'DK02': 'Sjælland',
 'DK03': 'Syddanmark',
 'DK04': 'Midtjylland',
 'DK05': 'Nordjylland',
 'DKZ': 'Extra-Regio NUTS 1',
 'DKZZ': 'Extra-Regio NUTS 2',
 'EE': 'Estonia',
 'EE0': 'Eesti',
 'EE00': 'Eesti',
 'EL': 'Greece',
 'EL3': 'Attiki',
 'EL30': 'Attiki',
 'EL4': 'Nisia Aigaiou, Kriti',
 'EL41': 'Voreio Aigaio',
 'EL42': 'Notio Aigaio',
 'EL43': 'Kriti',
 'EL5': 'Voreia Ellada',
 'EL51': 'Anatoliki Makedonia, Thraki',
 'EL52': 'Kentriki Makedonia',
 'EL53': 'Dytiki Makedonia',
 'EL54': 'Ipeiros',
 'EL6': 'Kentriki Ellada',
 'EL61': 'Thessalia',
 'EL62': 'Ionia Nisia',
 'EL63': 'Dytiki Ellada',
 'EL64': 'Sterea Ellada',
 'EL65': 'Peloponnisos',
 'ES': 'Spain',
 'ES1': 'Noroeste (ES)',
 'ES11': 'Galicia',
 'ES12': 'Principado de Asturias',
 'ES13': 'Cantabria',
 'ES2': 'Noreste (ES)',
 'ES21': 'País Vasco',
 'ES22': 'Comunidad Foral de Navarra',
 'ES23': 'La Rioja',
 'ES24': 'Aragón',
 'ES3': 'Comunidad de Madrid',
 'ES30': 'Comunidad de Madrid',
 'ES4': 'Centro (ES)',
 'ES41': 'Castilla y León',
 'ES42': 'Castilla-la Mancha',
 'ES43': 'Extremadura',
 'ES5': 'Este (ES)',
 'ES51': 'Cataluña',
 'ES52': 'Comunitat Valenciana',
 'ES53': 'Illes Balears',
 'ES6': 'Sur (ES)',
 'ES61': 'Andalucía',
 'ES62': 'Región de Murcia',
 'ES63': 'Ciudad de Ceuta',
 'ES64': 'Ciudad de Melilla',
 'ES7': 'Canarias',
 'ES70': 'Canarias',
 'ESZ': 'Extra-Regio NUTS 1',
 'ESZZ': 'Extra-Regio NUTS 2',
 'EU27_2020': 'European Union - 27 countries (from 2020)',
 'FI': 'Finland',
 'FI1': 'Manner-Suomi',
 'FI19': 'Länsi-Suomi',
 'FI1B': 'Helsinki-Uusimaa',
 'FI1C': 'Etelä-Suomi',
 'FI1D': 'Pohjois- ja Itä-Suomi',
 'FI2': 'Åland',
 'FI20': 'Åland',
 'FIZ': 'Extra-Regio NUTS 1',
 'FIZZ': 'Extra-Regio NUTS 2',
 'FR': 'France',
 'FR1': 'Île de France',
 'FR10': 'Île de France',
 'FRB': 'Centre - Val de Loire',
 'FRB0': 'Centre - Val de Loire',
 'FRC': 'Bourgogne - Franche-Comté',
 'FRC1': 'Bourgogne',
 'FRC2': 'Franche-Comté',
 'FRD': 'Normandie',
 'FRD1': 'Basse-Normandie',
 'FRD2': 'Haute-Normandie',
 'FRE': 'Hauts-de-France',
 'FRE1': 'Nord-Pas-de-Calais',
 'FRE2': 'Picardie',
 'FRF': 'Grand Est',
 'FRF1': 'Alsace',
 'FRF2': 'Champagne-Ardenne',
 'FRF3': 'Lorraine',
 'FRG': 'Pays-de-la-Loire',
 'FRG0': 'Pays-de-la-Loire',
 'FRH': 'Bretagne',
 'FRH0': 'Bretagne',
 'FRI': 'Nouvelle-Aquitaine',
 'FRI1': 'Aquitaine',
 'FRI2': 'Limousin',
 'FRI3': 'Poitou-Charentes',
 'FRJ': 'Occitanie',
 'FRJ1': 'Languedoc-Roussillon',
 'FRJ2': 'Midi-Pyrénées',
 'FRK': 'Auvergne - Rhône-Alpes',
 'FRK1': 'Auvergne',
 'FRK2': 'Rhône-Alpes',
 'FRL': "Provence-Alpes-Côte d'Azur",
 'FRL0': "Provence-Alpes-Côte d'Azur",
 'FRM': 'Corse',
 'FRM0': 'Corse',
 'FRY': 'RUP FR - Régions ultrapériphériques françaises',
 'FRY1': 'Guadeloupe',
 'FRY2': 'Martinique',
 'FRY3': 'Guyane',
 'FRY4': 'La Réunion',
 'FRY5': 'Mayotte',
 'FRZ': 'Extra-Regio NUTS 1',
 'FRZZ': 'Extra-Regio NUTS 2',
 'HR': 'Croatia',
 'HR0': 'Hrvatska',
 'HR03': 'Jadranska Hrvatska',
 'HR04': 'Kontinentalna Hrvatska (NUTS 2016)',
 'HU': 'Hungary',
 'HU1': 'Közép-Magyarország',
 'HU11': 'Budapest',
 'HU12': 'Pest',
 'HU2': 'Dunántúl',
 'HU21': 'Közép-Dunántúl',
 'HU22': 'Nyugat-Dunántúl',
 'HU23': 'Dél-Dunántúl',
 'HU3': 'Alföld és Észak',
 'HU31': 'Észak-Magyarország',
 'HU32': 'Észak-Alföld',
 'HU33': 'Dél-Alföld',
 'HUZ': 'Extra-Regio NUTS 1',
 'HUZZ': 'Extra-Regio NUTS 2',
 'IE': 'Ireland',
 'IE0': 'Éire/Ireland',
 'IE04': 'Northern and Western',
 'IE05': 'Southern',
 'IE06': 'Eastern and Midland',
 'IT': 'Italy',
 'ITC': 'Nord-Ovest',
 'ITC1': 'Piemonte',
 'ITC2': "Valle d'Aosta/Vallée d'Aoste",
 'ITC3': 'Liguria',
 'ITC4': 'Lombardia',
 'ITF': 'Sud',
 'ITF1': 'Abruzzo',
 'ITF2': 'Molise',
 'ITF3': 'Campania',
 'ITF4': 'Puglia',
 'ITF5': 'Basilicata',
 'ITF6': 'Calabria',
 'ITG': 'Isole',
 'ITG1': 'Sicilia',
 'ITG2': 'Sardegna',
 'ITH': 'Nord-Est',
 'ITH1': 'Provincia Autonoma di Bolzano/Bozen',
 'ITH2': 'Provincia Autonoma di Trento',
 'ITH3': 'Veneto',
 'ITH4': 'Friuli-Venezia Giulia',
 'ITH5': 'Emilia-Romagna',
 'ITI': 'Centro (IT)',
 'ITI1': 'Toscana',
 'ITI2': 'Umbria',
 'ITI3': 'Marche',
 'ITI4': 'Lazio',
 'ITZ': 'Extra-Regio NUTS 1',
 'ITZZ': 'Extra-Regio NUTS 2',
 'LT': 'Lithuania',
 'LT0': 'Lietuva',
 'LT01': 'Sostines regionas',
 'LT02': 'Vidurio ir vakaru Lietuvos regionas',
 'LU': 'Luxembourg',
 'LU0': 'Luxembourg',
 'LU00': 'Luxembourg',
 'LV': 'Latvia',
 'LV0': 'Latvija',
 'LV00': 'Latvija',
 'LVZ': 'Extra-Regio NUTS 1',
 'LVZZ': 'Extra-Regio NUTS 2',
 'ME': 'Montenegro',
 'ME0': 'Crna Gora',
 'ME00': 'Crna Gora',
 'MK': 'North Macedonia',
 'MK0': 'Severna Makedonija',
 'MK00': 'Severna Makedonija',
 'MT': 'Malta',
 'MT0': 'Malta',
 'MT00': 'Malta',
 'MTZ': 'Extra-Regio NUTS 1',
 'MTZZ': 'Extra-Regio NUTS 2',
 'NL': 'Netherlands',
 'NL1': 'Noord-Nederland',
 'NL11': 'Groningen',
 'NL12': 'Friesland (NL)',
 'NL13': 'Drenthe',
 'NL2': 'Oost-Nederland',
 'NL21': 'Overijssel',
 'NL22': 'Gelderland',
 'NL23': 'Flevoland',
 'NL3': 'West-Nederland',
 'NL31': 'Utrecht',
 'NL32': 'Noord-Holland',
 'NL33': 'Zuid-Holland',
 'NL34': 'Zeeland',
 'NL4': 'Zuid-Nederland',
 'NL41': 'Noord-Brabant',
 'NL42': 'Limburg (NL)',
 'NLZ': 'Extra-Regio NUTS 1',
 'NLZZ': 'Extra-Regio NUTS 2',
 'NO': 'Norway',
 'NO0': 'Norge',
 'NO01': 'Oslo og Akershus (statistical region 2016)',
 'NO02': 'Innlandet',
 'NO03': 'Sør-Østlandet (statistical region 2016)',
 'NO04': 'Agder og Rogaland (statistical region 2016)',
 'NO05': 'Vestlandet (statistical region 2016)',
 'NO06': 'Trøndelag',
 'NO07': 'Nord-Norge',
 'NOZ': 'Extra-Regio level 1',
 'NOZZ': 'Extra-Regio level 2',
 'PL': 'Poland',
 'PL2': 'Makroregion Poludniowy',
 'PL21': 'Malopolskie',
 'PL22': 'Slaskie',
 'PL4': 'Makroregion Pólnocno-Zachodni',
 'PL41': 'Wielkopolskie',
 'PL42': 'Zachodniopomorskie',
 'PL43': 'Lubuskie',
 'PL5': 'Makroregion Poludniowo-Zachodni',
 'PL51': 'Dolnoslaskie',
 'PL52': 'Opolskie',
 'PL6': 'Makroregion Pólnocny',
 'PL61': 'Kujawsko-Pomorskie',
 'PL62': 'Warminsko-Mazurskie',
 'PL63': 'Pomorskie',
 'PL7': 'Makroregion Centralny',
 'PL71': 'Lódzkie',
 'PL72': 'Swietokrzyskie',
 'PL8': 'Makroregion Wschodni',
 'PL81': 'Lubelskie',
 'PL82': 'Podkarpackie',
 'PL84': 'Podlaskie',
 'PL9': 'Makroregion Województwo Mazowieckie',
 'PL91': 'Warszawski stoleczny',
 'PL92': 'Mazowiecki regionalny',
 'PT': 'Portugal',
 'PT1': 'Continente',
 'PT11': 'Norte',
 'PT15': 'Algarve',
 'PT16': 'Centro (PT)',
 'PT17': 'Área Metropolitana de Lisboa',
 'PT18': 'Alentejo',
 'PT2': 'Região Autónoma dos Açores (PT)',
 'PT20': 'Região Autónoma dos Açores (PT)',
 'PT3': 'Região Autónoma da Madeira (PT)',
 'PT30': 'Região Autónoma da Madeira (PT)',
 'PTZ': 'Extra-Regio NUTS 1',
 'PTZZ': 'Extra-Regio NUTS 2',
 'RO': 'Romania',
 'RO1': 'Macroregiunea unu',
 'RO11': 'Nord-Vest',
 'RO12': 'Centru',
 'RO2': 'Macroregiunea doi',
 'RO21': 'Nord-Est',
 'RO22': 'Sud-Est',
 'RO3': 'Macroregiunea trei',
 'RO31': 'Sud - Muntenia',
 'RO32': 'Bucuresti - Ilfov',
 'RO4': 'Macroregiunea patru',
 'RO41': 'Sud-Vest Oltenia',
 'RO42': 'Vest',
 'ROZ': 'Extra-Regio NUTS 1',
 'ROZZ': 'Extra-Regio NUTS 2',
 'RS': 'Serbia',
 'RS1': 'Srbija - sever',
 'RS11': 'Beogradski region',
 'RS12': 'Region Vojvodine',
 'RS2': 'Srbija - jug',
 'RS21': 'Region Sumadije i Zapadne Srbije',
 'RS22': 'Region Juzne i Istocne Srbije',
 'RSZ': 'Extra-Regio level 1',
 'RSZZ': 'Extra-Regio level 2',
 'SE': 'Sweden',
 'SE1': 'Östra Sverige',
 'SE11': 'Stockholm',
 'SE12': 'Östra Mellansverige',
 'SE2': 'Södra Sverige',
 'SE21': 'Småland med öarna',
 'SE22': 'Sydsverige',
 'SE23': 'Västsverige',
 'SE3': 'Norra Sverige',
 'SE31': 'Norra Mellansverige',
 'SE32': 'Mellersta Norrland',
 'SE33': 'Övre Norrland',
 'SEZ': 'Extra-Regio NUTS 1',
 'SEZZ': 'Extra-Regio NUTS 2',
 'SI': 'Slovenia',
 'SI0': 'Slovenija',
 'SI03': 'Vzhodna Slovenija',
 'SI04': 'Zahodna Slovenija',
 'SK': 'Slovakia',
 'SK0': 'Slovensko',
 'SK01': 'Bratislavský kraj',
 'SK02': 'Západné Slovensko',
 'SK03': 'Stredné Slovensko',
 'SK04': 'Východné Slovensko',
 'TR': 'Turkey',
 'TR1': 'Istanbul',
 'TR10': 'Istanbul',
 'TR2': 'Bati Marmara',
 'TR21': 'Tekirdag, Edirne, Kirklareli',
 'TR22': 'Balikesir, Çanakkale',
 'TR3': 'Ege',
 'TR31': 'Izmir',
 'TR32': 'Aydin, Denizli, Mugla',
 'TR33': 'Manisa, Afyonkarahisar, Kütahya, Usak',
 'TR4': 'Dogu Marmara',
 'TR41': 'Bursa, Eskisehir, Bilecik',
 'TR42': 'Kocaeli, Sakarya, Düzce, Bolu, Yalova',
 'TR5': 'Bati Anadolu',
 'TR51': 'Ankara',
 'TR52': 'Konya, Karaman',
 'TR6': 'Akdeniz',
 'TR61': 'Antalya, Isparta, Burdur',
 'TR62': 'Adana, Mersin',
 'TR63': 'Hatay, Kahramanmaras, Osmaniye',
 'TR7': 'Orta Anadolu',
 'TR71': 'Kirikkale, Aksaray, Nigde, Nevsehir, Kirsehir',
 'TR72': 'Kayseri, Sivas, Yozgat',
 'TR8': 'Bati Karadeniz',
 'TR81': 'Zonguldak, Karabük, Bartin',
 'TR82': 'Kastamonu, Çankiri, Sinop',
 'TR83': 'Samsun, Tokat, Çorum, Amasya',
 'TR9': 'Dogu Karadeniz',
 'TR90': 'Trabzon, Ordu, Giresun, Rize, Artvin, Gümüshane',
 'TRA': 'Kuzeydogu Anadolu',
 'TRA1': 'Erzurum, Erzincan, Bayburt',
 'TRA2': 'Agri, Kars, Igdir, Ardahan',
 'TRB': 'Ortadogu Anadolu',
 'TRB1': 'Malatya, Elazig, Bingöl, Tunceli',
 'TRB2': 'Van, Mus, Bitlis, Hakkari',
 'TRC': 'Güneydogu Anadolu',
 'TRC1': 'Gaziantep, Adiyaman, Kilis',
 'TRC2': 'Sanliurfa, Diyarbakir',
 'TRC3': 'Mardin, Batman, Sirnak, Siirt'}

In [25]:
Unit = es.get_sdmx_dic('nama_10r_2gdp', 'UNIT')
Unit

{'EUR_HAB': 'Euro per inhabitant',
 'EUR_HAB_EU27_2020': 'Euro per inhabitant in percentage of the EU27 (from 2020) average',
 'MIO_EUR': 'Million euro',
 'MIO_NAC': 'Million units of national currency',
 'MIO_PPS_EU27_2020': 'Million purchasing power standards (PPS, EU27 from 2020)',
 'PPS_EU27_2020_HAB': 'Purchasing power standard (PPS, EU27 from 2020), per inhabitant',
 'PPS_HAB_EU27_2020': 'Purchasing power standard (PPS, EU27 from 2020), per inhabitant in percentage of the EU27 (from 2020) average'}

In [27]:
OBS = es.get_sdmx_dic('nama_10r_2gdp', 'OBS_FLAG')
OBS

{'b': 'break in time series',
 'c': 'confidential',
 'd': 'definition differs, see metadata',
 'e': 'estimated',
 'f': 'forecast',
 'i': 'see metadata (phased out)',
 'n': 'not significant',
 'p': 'provisional',
 'r': 'revised',
 's': 'Eurostat estimate (phased out)',
 'u': 'low reliability',
 'z': 'not applicable'}

In [31]:
filter_pars = {'FREQ': ['A'], 'UNIT':['EUR_HAB']}
EU_nuts2_sdmx = es.get_sdmx_data_df('nama_10r_2gdp','2010', '2020',filter_pars,flags=False, verbose = True)

Progress: 100.0%

The above method showcased is the most reliable method to get the data we are looking and it also in the format which is required to move ahead in our analysis.

Furthermore, it can be noticed that a country is also showcased along with the NUTS2 region which should be seprated

In [52]:
EU_nuts2 = EU_nuts2_sdmx[EU_nuts2_sdmx.GEO.str.contains(r'[0-9]')]
EU_nuts2 = EU_nuts2.reset_index(drop=True)

,UNIT,GEO,FREQ,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
0,EUR_HAB,AL0,A,4800.0,4500.0,4000.0,3700.0,3600.0,3500.0,3300.0,3300.0,3200.0,3100.0
1,EUR_HAB,AL01,A,3900.0,3600.0,3300.0,3100.0,2900.0,2700.0,2700.0,2700.0,2600.0,2600.0
2,EUR_HAB,AL02,A,5700.0,5400.0,4900.0,4400.0,4300.0,4100.0,3900.0,3900.0,3900.0,4000.0
3,EUR_HAB,AL03,A,4300.0,4000.0,3600.0,3400.0,3300.0,3400.0,3200.0,3100.0,3000.0,2600.0
4,EUR_HAB,AT1,A,44200.0,43100.0,41700.0,41000.0,39800.0,39100.0,38500.0,38300.0,37800.0,36600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,EUR_HAB,TRB1,A,4900.0,4800.0,5700.0,6000.0,5900.0,5400.0,5700.0,5400.0,4900.0,4800.0
361,EUR_HAB,TRB2,A,3400.0,3200.0,3800.0,3900.0,3800.0,3600.0,3700.0,4000.0,3200.0,3200.0
362,EUR_HAB,TRC1,A,5300.0,5300.0,6000.0,6300.0,6400.0,5700.0,5900.0,5400.0,4600.0,4500.0
363,EUR_HAB,TRC2,A,3200.0,3100.0,3900.0,4100.0,4200.0,3800.0,4200.0,3900.0,3600.0,3600.0
364,EUR_HAB,TRC3,A,4200.0,4000.0,4700.0,4600.0,4700.0,4500.0,4600.0,4400.0,3900.0,3900.0

In [175]:
EU_r = EU_nuts2_sdmx[~EU_nuts2_sdmx.GEO.str.contains(r'[0-9]')]
EU_r =  EU_r.reset_index(drop=True)
EU_r

,ISCED11,UNIT,SEX,GEO,FREQ,2019,2018,2017,2016,2015,2014,2013
0,ED6,NR,F,AT,A,105950.0,105293.0,103059.0,101469.0,96769.0,94737.0,95686.0
1,ED6,NR,F,ATZ,A,0.0,0.0,NaN,0.0,0.0,0.0,0.0
2,ED6,NR,F,ATZZ,A,0.0,0.0,NaN,0.0,0.0,0.0,0.0
3,ED6,NR,F,BE,A,207695.0,208652.0,215156.0,206592.0,205925.0,204087.0,204034.0
4,ED6,NR,F,BEZ,A,0.0,0.0,0.0,0.0,0.0,0.0,3780.0
...,...,...,...,...,...,...,...,...,...,...,...,...
379,ED6,NR,T,UKK,A,128303.0,125574.0,122838.0,117737.0,113622.0,109241.0,106729.0
380,ED6,NR,T,UKL,A,77050.0,77342.0,77483.0,76264.0,75252.0,76843.0,76551.0
381,ED6,NR,T,UKM,A,156540.0,153900.0,150631.0,147474.0,143895.0,142183.0,140879.0
382,ED6,NR,T,UKN,A,34488.0,34307.0,34986.0,35096.0,35389.0,34704.0,34565.0
383,ED6,NR,T,UKZ,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Renaming the column of year to GDP_year

In [103]:
EU_nuts2_GDP_IH = EU_nuts2.rename({2010: "GDP_2010",2011: "GDP_2011",2012: "GDP_2012",2013: "GDP_2013",2014: "GDP_2014",
                  2015: "GDP_2015",2016: "GDP_2016",2017: "GDP_2017",2018: "GDP_2018",2019: "GDP_2019","UNIT":"Unit_1"},axis = 1)

,Unit_1,GEO,FREQ,GDP_2019,GDP_2018,GDP_2017,GDP_2016,GDP_2015,GDP_2014,GDP_2013,GDP_2012,GDP_2011,GDP_2010
0,EUR_HAB,AL0,A,4800.0,4500.0,4000.0,3700.0,3600.0,3500.0,3300.0,3300.0,3200.0,3100.0
1,EUR_HAB,AL01,A,3900.0,3600.0,3300.0,3100.0,2900.0,2700.0,2700.0,2700.0,2600.0,2600.0
2,EUR_HAB,AL02,A,5700.0,5400.0,4900.0,4400.0,4300.0,4100.0,3900.0,3900.0,3900.0,4000.0
3,EUR_HAB,AL03,A,4300.0,4000.0,3600.0,3400.0,3300.0,3400.0,3200.0,3100.0,3000.0,2600.0
4,EUR_HAB,AT1,A,44200.0,43100.0,41700.0,41000.0,39800.0,39100.0,38500.0,38300.0,37800.0,36600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,EUR_HAB,TRB1,A,4900.0,4800.0,5700.0,6000.0,5900.0,5400.0,5700.0,5400.0,4900.0,4800.0
361,EUR_HAB,TRB2,A,3400.0,3200.0,3800.0,3900.0,3800.0,3600.0,3700.0,4000.0,3200.0,3200.0
362,EUR_HAB,TRC1,A,5300.0,5300.0,6000.0,6300.0,6400.0,5700.0,5900.0,5400.0,4600.0,4500.0
363,EUR_HAB,TRC2,A,3200.0,3100.0,3900.0,4100.0,4200.0,3800.0,4200.0,3900.0,3600.0,3600.0
364,EUR_HAB,TRC3,A,4200.0,4000.0,4700.0,4600.0,4700.0,4500.0,4600.0,4400.0,3900.0,3900.0

In [97]:
filter_pars = {'FREQ': ['A'], 'UNIT':['MIO_EUR']}
EU_nuts2_sdmx_Mil = es.get_sdmx_data_df('nama_10r_2gdp','2010', '2020',filter_pars,flags=False, verbose = True)

Progress: 100.0%

In [100]:
EU_nuts2_Mil = EU_nuts2_sdmx_Mil[EU_nuts2_sdmx_Mil.GEO.str.contains(r'[0-9]')]
EU_nuts2_Mil = EU_nuts2_Mil.reset_index(drop=True)

,UNIT,GEO,FREQ,2019,2018,2017,2016,2015,2014,2013,2012,2011,2010
0,MIO_EUR,AL0,A,13644.67,12820.09,11559.04,10719.85,10264.11,9968.6,9625.36,9585.81,9268.32,8996.63
1,MIO_EUR,AL01,A,3142.06,2953.02,2707.01,2549.18,2418.75,2290.45,2276.67,2297.46,2214.58,2225.11
2,MIO_EUR,AL02,A,6735.64,6323.61,5640.05,5050.74,4837.09,4535.08,4319.08,4294.6,4195.2,4211.08
3,MIO_EUR,AL03,A,3766.97,3543.46,3211.98,3119.93,3008.27,3143.07,3029.61,2993.75,2858.55,2560.43
4,MIO_EUR,AT1,A,171326.17,166154.65,159941.08,155864.94,149210.45,144536.29,141127.14,139149.68,136271.77,131114.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,MIO_EUR,TRB1,A,8684.94,8288.39,9877.99,10171.94,9982.53,9105.19,9560.26,9082.6,8083.86,7793.51
361,MIO_EUR,TRB2,A,7388.44,6898.96,7986.81,8309.77,8003.34,7509.0,7759.79,8200.98,6449.98,6370.9
362,MIO_EUR,TRC1,A,14989.71,14637.14,16518.67,17015.64,17015.04,14908.19,14946.37,13546.61,11257.49,10649.54
363,MIO_EUR,TRC2,A,12131.71,11630.85,14073.93,14683.24,14740.71,13221.9,14050.38,13078.78,11515.82,11320.93
364,MIO_EUR,TRC3,A,9653.76,9049.97,10308.14,10092.76,10105.88,9529.04,9685.71,9077.42,7892.19,7679.69

In [102]:
EU_nuts2_GDP_Mil = EU_nuts2_Mil.rename({2010: "GDP_2010_M",2011: "GDP_2011_M",2012: "GDP_2012_M",2013: "GDP_2013_M",2014: "GDP_2014_M",
                  2015: "GDP_2015_M",2016: "GDP_2016_M",2017: "GDP_2017_M",2018: "GDP_2018_M",2019: "GDP_2019_M","UNIT":"Unit_2"},axis = 1)

,Unit_2,GEO,FREQ,GDP_2019_M,GDP_2018_M,GDP_2017_M,GDP_2016_M,GDP_2015_M,GDP_2014_M,GDP_2013_M,GDP_2012_M,GDP_2011_M,GDP_2010_M
0,MIO_EUR,AL0,A,13644.67,12820.09,11559.04,10719.85,10264.11,9968.6,9625.36,9585.81,9268.32,8996.63
1,MIO_EUR,AL01,A,3142.06,2953.02,2707.01,2549.18,2418.75,2290.45,2276.67,2297.46,2214.58,2225.11
2,MIO_EUR,AL02,A,6735.64,6323.61,5640.05,5050.74,4837.09,4535.08,4319.08,4294.6,4195.2,4211.08
3,MIO_EUR,AL03,A,3766.97,3543.46,3211.98,3119.93,3008.27,3143.07,3029.61,2993.75,2858.55,2560.43
4,MIO_EUR,AT1,A,171326.17,166154.65,159941.08,155864.94,149210.45,144536.29,141127.14,139149.68,136271.77,131114.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,MIO_EUR,TRB1,A,8684.94,8288.39,9877.99,10171.94,9982.53,9105.19,9560.26,9082.6,8083.86,7793.51
361,MIO_EUR,TRB2,A,7388.44,6898.96,7986.81,8309.77,8003.34,7509.0,7759.79,8200.98,6449.98,6370.9
362,MIO_EUR,TRC1,A,14989.71,14637.14,16518.67,17015.64,17015.04,14908.19,14946.37,13546.61,11257.49,10649.54
363,MIO_EUR,TRC2,A,12131.71,11630.85,14073.93,14683.24,14740.71,13221.9,14050.38,13078.78,11515.82,11320.93
364,MIO_EUR,TRC3,A,9653.76,9049.97,10308.14,10092.76,10105.88,9529.04,9685.71,9077.42,7892.19,7679.69

In [105]:
EU_NUTS2_GDP_ALL = pd.merge(EU_nuts2_GDP_Mil, EU_nuts2_GDP_IH, on='GEO', how='left')
EU_NUTS2_GDP_ALL

,Unit_2,GEO,FREQ_x,GDP_2019_M,GDP_2018_M,GDP_2017_M,GDP_2016_M,GDP_2015_M,GDP_2014_M,GDP_2013_M,...,GDP_2019,GDP_2018,GDP_2017,GDP_2016,GDP_2015,GDP_2014,GDP_2013,GDP_2012,GDP_2011,GDP_2010
0,MIO_EUR,AL0,A,13644.67,12820.09,11559.04,10719.85,10264.11,9968.6,9625.36,...,4800.0,4500.0,4000.0,3700.0,3600.0,3500.0,3300.0,3300.0,3200.0,3100.0
1,MIO_EUR,AL01,A,3142.06,2953.02,2707.01,2549.18,2418.75,2290.45,2276.67,...,3900.0,3600.0,3300.0,3100.0,2900.0,2700.0,2700.0,2700.0,2600.0,2600.0
2,MIO_EUR,AL02,A,6735.64,6323.61,5640.05,5050.74,4837.09,4535.08,4319.08,...,5700.0,5400.0,4900.0,4400.0,4300.0,4100.0,3900.0,3900.0,3900.0,4000.0
3,MIO_EUR,AL03,A,3766.97,3543.46,3211.98,3119.93,3008.27,3143.07,3029.61,...,4300.0,4000.0,3600.0,3400.0,3300.0,3400.0,3200.0,3100.0,3000.0,2600.0
4,MIO_EUR,AT1,A,171326.17,166154.65,159941.08,155864.94,149210.45,144536.29,141127.14,...,44200.0,43100.0,41700.0,41000.0,39800.0,39100.0,38500.0,38300.0,37800.0,36600.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
360,MIO_EUR,TRB1,A,8684.94,8288.39,9877.99,10171.94,9982.53,9105.19,9560.26,...,4900.0,4800.0,5700.0,6000.0,5900.0,5400.0,5700.0,5400.0,4900.0,4800.0
361,MIO_EUR,TRB2,A,7388.44,6898.96,7986.81,8309.77,8003.34,7509.0,7759.79,...,3400.0,3200.0,3800.0,3900.0,3800.0,3600.0,3700.0,4000.0,3200.0,3200.0
362,MIO_EUR,TRC1,A,14989.71,14637.14,16518.67,17015.64,17015.04,14908.19,14946.37,...,5300.0,5300.0,6000.0,6300.0,6400.0,5700.0,5900.0,5400.0,4600.0,4500.0
363,MIO_EUR,TRC2,A,12131.71,11630.85,14073.93,14683.24,14740.71,13221.9,14050.38,...,3200.0,3100.0,3900.0,4100.0,4200.0,3800.0,4200.0,3900.0,3600.0,3600.0
364,MIO_EUR,TRC3,A,9653.76,9049.97,10308.14,10092.76,10105.88,9529.04,9685.71,...,4200.0,4000.0,4700.0,4600.0,4700.0,4500.0,4600.0,4400.0,3900.0,3900.0

#### Aquiring Lat/Lon data with respect to NUTS 2 region

Getting the Latitude and Longitude of the regions will further allow us to streamline the data injestion problem and get the climate paramenters by another api call to fill our data

#### Method 1

Eurostat package which contains the geo spatial data is in R and not in python and I was not able to install the purtcular dependicy which is library rpy2>=3.4.5 due to some error in my current setup

And therefore was not able to install the R wrapper which would allow me to call the geo-spatial data directly from the official EU website 

Hence, other methods need to be explored

### Education level- Nuts2

#### Total Number of Enrollement (M/F) excluding early edu development

In [130]:
dims = es.get_sdmx_dims('educ_uoe_enra11')
dims

['FREQ', 'GEO', 'INDICATORS', 'ISCED11', 'OBS_FLAG', 'SEX', 'TIME', 'UNIT']

In [131]:
Freq =  es.get_sdmx_dic('educ_uoe_enra11', 'FREQ')
Freq

{'A': 'Annual',
 'D': 'Daily',
 'H': 'Half-year',
 'M': 'Monthly',
 'Q': 'Quarterly',
 'S': 'Semi-annual',
 'W': 'Weekly'}

In [132]:
Unit =  es.get_sdmx_dic('educ_uoe_enra11', 'UNIT')
Unit

{'NR': 'Number'}

In [133]:
ISCED11 = es.get_sdmx_dic('educ_uoe_enra11', 'ISCED11')
ISCED11

{'ED0': 'Early childhood education',
 'ED02-8': 'All ISCED 2011 levels excluding early childhood educational development',
 'ED1': 'Primary education',
 'ED2': 'Lower secondary education',
 'ED3': 'Upper secondary education',
 'ED4': 'Post-secondary non-tertiary education',
 'ED5': 'Short-cycle tertiary education',
 'ED6': "Bachelor's or equivalent level",
 'ED7': "Master's or equivalent level",
 'ED8': 'Doctoral or equivalent level'}

In [134]:
GEO =  es.get_sdmx_dic('educ_uoe_enra11', 'GEO')
GEO

{'AT': 'Austria',
 'AT1': 'Ostösterreich',
 'AT11': 'Burgenland (AT)',
 'AT12': 'Niederösterreich',
 'AT13': 'Wien',
 'AT2': 'Südösterreich',
 'AT21': 'Kärnten',
 'AT22': 'Steiermark',
 'AT3': 'Westösterreich',
 'AT31': 'Oberösterreich',
 'AT32': 'Salzburg',
 'AT33': 'Tirol',
 'AT34': 'Vorarlberg',
 'ATZ': 'Extra-Regio NUTS 1',
 'ATZZ': 'Extra-Regio NUTS 2',
 'BE': 'Belgium',
 'BE1': 'Région de Bruxelles-Capitale/Brussels Hoofdstedelijk Gewest',
 'BE10': 'Région de Bruxelles-Capitale/Brussels Hoofdstedelijk Gewest',
 'BE2': 'Vlaams Gewest',
 'BE21': 'Prov. Antwerpen',
 'BE22': 'Prov. Limburg (BE)',
 'BE23': 'Prov. Oost-Vlaanderen',
 'BE24': 'Prov. Vlaams-Brabant',
 'BE25': 'Prov. West-Vlaanderen',
 'BE3': 'Région wallonne',
 'BE31': 'Prov. Brabant wallon',
 'BE32': 'Prov. Hainaut',
 'BE33': 'Prov. Liège',
 'BE34': 'Prov. Luxembourg (BE)',
 'BE35': 'Prov. Namur',
 'BEZ': 'Extra-Regio NUTS 1',
 'BEZZ': 'Extra-Regio NUTS 2',
 'BG': 'Bulgaria',
 'BG3': 'Severna i yugoiztochna Bulgaria',
 'BG31': 'Severozapaden',
 'BG32': 'Severen tsentralen',
 'BG33': 'Severoiztochen',
 'BG34': 'Yugoiztochen',
 'BG4': 'Yugozapadna i yuzhna tsentralna Bulgaria',
 'BG41': 'Yugozapaden',
 'BG42': 'Yuzhen tsentralen',
 'BGZ': 'Extra-Regio NUTS 1',
 'BGZZ': 'Extra-Regio NUTS 2',
 'CH': 'Switzerland',
 'CH0': 'Schweiz/Suisse/Svizzera',
 'CH01': 'Région lémanique',
 'CH02': 'Espace Mittelland',
 'CH03': 'Nordwestschweiz',
 'CH04': 'Zürich',
 'CH05': 'Ostschweiz',
 'CH06': 'Zentralschweiz',
 'CH07': 'Ticino',
 'CHZ': 'Extra-Regio level 1',
 'CHZZ': 'Extra-Regio level 2',
 'CY': 'Cyprus',
 'CY0': 'Kypros',
 'CY00': 'Kypros',
 'CZ': 'Czechia',
 'CZ0': 'Cesko',
 'CZ01': 'Praha',
 'CZ02': 'Strední Cechy',
 'CZ03': 'Jihozápad',
 'CZ04': 'Severozápad',
 'CZ05': 'Severovýchod',
 'CZ06': 'Jihovýchod',
 'CZ07': 'Strední Morava',
 'CZ08': 'Moravskoslezsko',
 'CZZ': 'Extra-Regio NUTS 1',
 'CZZZ': 'Extra-Regio NUTS 2',
 'DE': 'Germany (until 1990 former territory of the FRG)',
 'DE1': 'Baden-Württemberg',
 'DE2': 'Bayern',
 'DE3': 'Berlin',
 'DE4': 'Brandenburg',
 'DE5': 'Bremen',
 'DE6': 'Hamburg',
 'DE7': 'Hessen',
 'DE8': 'Mecklenburg-Vorpommern',
 'DE9': 'Niedersachsen',
 'DEA': 'Nordrhein-Westfalen',
 'DEB': 'Rheinland-Pfalz',
 'DEC': 'Saarland',
 'DED': 'Sachsen',
 'DEE': 'Sachsen-Anhalt',
 'DEF': 'Schleswig-Holstein',
 'DEG': 'Thüringen',
 'DEZ': 'Extra-Regio NUTS 1',
 'DK': 'Denmark',
 'DK0': 'Danmark',
 'DK01': 'Hovedstaden',
 'DK02': 'Sjælland',
 'DK03': 'Syddanmark',
 'DK04': 'Midtjylland',
 'DK05': 'Nordjylland',
 'DKZ': 'Extra-Regio NUTS 1',
 'DKZZ': 'Extra-Regio NUTS 2',
 'EE': 'Estonia',
 'EE0': 'Eesti',
 'EE00': 'Eesti',
 'EL': 'Greece',
 'EL3': 'Attiki',
 'EL30': 'Attiki',
 'EL4': 'Nisia Aigaiou, Kriti',
 'EL41': 'Voreio Aigaio',
 'EL42': 'Notio Aigaio',
 'EL43': 'Kriti',
 'EL5': 'Voreia Ellada',
 'EL51': 'Anatoliki Makedonia, Thraki',
 'EL52': 'Kentriki Makedonia',
 'EL53': 'Dytiki Makedonia',
 'EL54': 'Ipeiros',
 'EL6': 'Kentriki Ellada',
 'EL61': 'Thessalia',
 'EL62': 'Ionia Nisia',
 'EL63': 'Dytiki Ellada',
 'EL64': 'Sterea Ellada',
 'EL65': 'Peloponnisos',
 'ELZ': 'Extra-Regio NUTS 1',
 'ELZZ': 'Extra-Regio NUTS 2',
 'ES': 'Spain',
 'ES1': 'Noroeste (ES)',
 'ES11': 'Galicia',
 'ES12': 'Principado de Asturias',
 'ES13': 'Cantabria',
 'ES2': 'Noreste (ES)',
 'ES21': 'País Vasco',
 'ES22': 'Comunidad Foral de Navarra',
 'ES23': 'La Rioja',
 'ES24': 'Aragón',
 'ES3': 'Comunidad de Madrid',
 'ES30': 'Comunidad de Madrid',
 'ES4': 'Centro (ES)',
 'ES41': 'Castilla y León',
 'ES42': 'Castilla-la Mancha',
 'ES43': 'Extremadura',
 'ES5': 'Este (ES)',
 'ES51': 'Cataluña',
 'ES52': 'Comunitat Valenciana',
 'ES53': 'Illes Balears',
 'ES6': 'Sur (ES)',
 'ES61': 'Andalucía',
 'ES62': 'Región de Murcia',
 'ES63': 'Ciudad de Ceuta',
 'ES64': 'Ciudad de Melilla',
 'ES7': 'Canarias',
 'ES70': 'Canarias',
 'ESZ': 'Extra-Regio NUTS 1',
 'ESZZ': 'Extra-Regio NUTS 2',
 'EU27_2020': 'European Union - 27 countries (from 2020)',
 'EU28': 'European Union - 28 countries (2013-2020)',
 'FI': 'Finland',
 'FI1': 'Manner-Suomi',
 'FI19': 'Länsi-Suomi',
 'FI1B': 'Helsinki-Uusimaa',
 'FI1C': 'Etelä-Suomi',
 'FI1D': 'Pohjois- ja Itä-Suomi',
 'FI2': 'Åland',
 'FI20': 'Åland',
 'FIZ': 'Extra-Regio NUTS 1',
 'FIZZ': 'Extra-Regio NUTS 2',
 'FR': 'France',
 'FR1': 'Île de France',
 'FR10': 'Île de France',
 'FRB': 'Centre - Val de Loire',
 'FRB0': 'Centre - Val de Loire',
 'FRC': 'Bourgogne - Franche-Comté',
 'FRC1': 'Bourgogne',
 'FRC2': 'Franche-Comté',
 'FRD': 'Normandie',
 'FRD1': 'Basse-Normandie',
 'FRD2': 'Haute-Normandie',
 'FRE': 'Hauts-de-France',
 'FRE1': 'Nord-Pas-de-Calais',
 'FRE2': 'Picardie',
 'FRF': 'Grand Est',
 'FRF1': 'Alsace',
 'FRF2': 'Champagne-Ardenne',
 'FRF3': 'Lorraine',
 'FRG': 'Pays-de-la-Loire',
 'FRG0': 'Pays-de-la-Loire',
 'FRH': 'Bretagne',
 'FRH0': 'Bretagne',
 'FRI': 'Nouvelle-Aquitaine',
 'FRI1': 'Aquitaine',
 'FRI2': 'Limousin',
 'FRI3': 'Poitou-Charentes',
 'FRJ': 'Occitanie',
 'FRJ1': 'Languedoc-Roussillon',
 'FRJ2': 'Midi-Pyrénées',
 'FRK': 'Auvergne - Rhône-Alpes',
 'FRK1': 'Auvergne',
 'FRK2': 'Rhône-Alpes',
 'FRL': "Provence-Alpes-Côte d'Azur",
 'FRL0': "Provence-Alpes-Côte d'Azur",
 'FRM': 'Corse',
 'FRM0': 'Corse',
 'FRY': 'RUP FR - Régions ultrapériphériques françaises',
 'FRY1': 'Guadeloupe',
 'FRY2': 'Martinique',
 'FRY3': 'Guyane',
 'FRY4': 'La Réunion',
 'FRY5': 'Mayotte',
 'FRZ': 'Extra-Regio NUTS 1',
 'FRZZ': 'Extra-Regio NUTS 2',
 'HR': 'Croatia',
 'HR0': 'Hrvatska',
 'HR03': 'Jadranska Hrvatska',
 'HR04': 'Kontinentalna Hrvatska (NUTS 2016)',
 'HRZ': 'Extra-Regio level 1',
 'HRZZ': 'Extra-Regio level 2',
 'HU': 'Hungary',
 'HU1': 'Közép-Magyarország',
 'HU11': 'Budapest',
 'HU12': 'Pest',
 'HU2': 'Dunántúl',
 'HU21': 'Közép-Dunántúl',
 'HU22': 'Nyugat-Dunántúl',
 'HU23': 'Dél-Dunántúl',
 'HU3': 'Alföld és Észak',
 'HU31': 'Észak-Magyarország',
 'HU32': 'Észak-Alföld',
 'HU33': 'Dél-Alföld',
 'HUZ': 'Extra-Regio NUTS 1',
 'HUZZ': 'Extra-Regio NUTS 2',
 'IE': 'Ireland',
 'IE0': 'Éire/Ireland',
 'IE04': 'Northern and Western',
 'IE05': 'Southern',
 'IE06': 'Eastern and Midland',
 'IEZ': 'Extra-Regio NUTS 1',
 'IEZZ': 'Extra-Regio NUTS 2',
 'IS': 'Iceland',
 'IS0': 'Ísland',
 'IS00': 'Ísland',
 'IT': 'Italy',
 'ITC': 'Nord-Ovest',
 'ITC1': 'Piemonte',
 'ITC2': "Valle d'Aosta/Vallée d'Aoste",
 'ITC3': 'Liguria',
 'ITC4': 'Lombardia',
 'ITF': 'Sud',
 'ITF1': 'Abruzzo',
 'ITF2': 'Molise',
 'ITF3': 'Campania',
 'ITF4': 'Puglia',
 'ITF5': 'Basilicata',
 'ITF6': 'Calabria',
 'ITG': 'Isole',
 'ITG1': 'Sicilia',
 'ITG2': 'Sardegna',
 'ITH': 'Nord-Est',
 'ITH1': 'Provincia Autonoma di Bolzano/Bozen',
 'ITH2': 'Provincia Autonoma di Trento',
 'ITH3': 'Veneto',
 'ITH4': 'Friuli-Venezia Giulia',
 'ITH5': 'Emilia-Romagna',
 'ITI': 'Centro (IT)',
 'ITI1': 'Toscana',
 'ITI2': 'Umbria',
 'ITI3': 'Marche',
 'ITI4': 'Lazio',
 'ITZ': 'Extra-Regio NUTS 1',
 'ITZZ': 'Extra-Regio NUTS 2',
 'LI': 'Liechtenstein',
 'LI0': 'Liechtenstein',
 'LI00': 'Liechtenstein',
 'LT': 'Lithuania',
 'LT0': 'Lietuva',
 'LT01': 'Sostines regionas',
 'LT02': 'Vidurio ir vakaru Lietuvos regionas',
 'LTZ': 'Extra-Regio NUTS 1',
 'LTZZ': 'Extra-Regio NUTS 2',
 'LU': 'Luxembourg',
 'LU0': 'Luxembourg',
 'LU00': 'Luxembourg',
 'LV': 'Latvia',
 'LV0': 'Latvija',
 'LV00': 'Latvija',
 'ME': 'Montenegro',
 'ME0': 'Crna Gora',
 'ME00': 'Crna Gora',
 'MK': 'North Macedonia',
 'MK0': 'Severna Makedonija',
 'MK00': 'Severna Makedonija',
 'MT': 'Malta',
 'MT0': 'Malta',
 'MT00': 'Malta',
 'NL': 'Netherlands',
 'NL1': 'Noord-Nederland',
 'NL11': 'Groningen',
 'NL12': 'Friesland (NL)',
 'NL13': 'Drenthe',
 'NL2': 'Oost-Nederland',
 'NL21': 'Overijssel',
 'NL22': 'Gelderland',
 'NL23': 'Flevoland',
 'NL3': 'West-Nederland',
 'NL31': 'Utrecht',
 'NL32': 'Noord-Holland',
 'NL33': 'Zuid-Holland',
 'NL34': 'Zeeland',
 'NL4': 'Zuid-Nederland',
 'NL41': 'Noord-Brabant',
 'NL42': 'Limburg (NL)',
 'NLZ': 'Extra-Regio NUTS 1',
 'NLZZ': 'Extra-Regio NUTS 2',
 'NO': 'Norway',
 'NO0': 'Norge',
 'NO01': 'Oslo og Akershus (statistical region 2016)',
 'NO02': 'Innlandet',
 'NO03': 'Sør-Østlandet (statistical region 2016)',
 'NO04': 'Agder og Rogaland (statistical region 2016)',
 'NO05': 'Vestlandet (statistical region 2016)',
 'NO06': 'Trøndelag',
 'NO07': 'Nord-Norge',
 'NOZ': 'Extra-Regio level 1',
 'NOZZ': 'Extra-Regio level 2',
 'PL': 'Poland',
 'PL2': 'Makroregion Poludniowy',
 'PL21': 'Malopolskie',
 'PL22': 'Slaskie',
 'PL4': 'Makroregion Pólnocno-Zachodni',
 'PL41': 'Wielkopolskie',
 'PL42': 'Zachodniopomorskie',
 'PL43': 'Lubuskie',
 'PL5': 'Makroregion Poludniowo-Zachodni',
 'PL51': 'Dolnoslaskie',
 'PL52': 'Opolskie',
 'PL6': 'Makroregion Pólnocny',
 'PL61': 'Kujawsko-Pomorskie',
 'PL62': 'Warminsko-Mazurskie',
 'PL63': 'Pomorskie',
 'PL7': 'Makroregion Centralny',
 'PL71': 'Lódzkie',
 'PL72': 'Swietokrzyskie',
 'PL8': 'Makroregion Wschodni',
 'PL81': 'Lubelskie',
 'PL82': 'Podkarpackie',
 'PL84': 'Podlaskie',
 'PL9': 'Makroregion Województwo Mazowieckie',
 'PL91': 'Warszawski stoleczny',
 'PL92': 'Mazowiecki regionalny',
 'PLZ': 'Extra-Regio NUTS 1',
 'PLZZ': 'Extra-Regio NUTS 2',
 'PT': 'Portugal',
 'PT1': 'Continente',
 'PT11': 'Norte',
 'PT15': 'Algarve',
 'PT16': 'Centro (PT)',
 'PT17': 'Área Metropolitana de Lisboa',
 'PT18': 'Alentejo',
 'PT2': 'Região Autónoma dos Açores (PT)',
 'PT20': 'Região Autónoma dos Açores (PT)',
 'PT3': 'Região Autónoma da Madeira (PT)',
 'PT30': 'Região Autónoma da Madeira (PT)',
 'PTZ': 'Extra-Regio NUTS 1',
 'PTZZ': 'Extra-Regio NUTS 2',
 'RO': 'Romania',
 'RO1': 'Macroregiunea unu',
 'RO11': 'Nord-Vest',
 'RO12': 'Centru',
 'RO2': 'Macroregiunea doi',
 'RO21': 'Nord-Est',
 'RO22': 'Sud-Est',
 'RO3': 'Macroregiunea trei',
 'RO31': 'Sud - Muntenia',
 'RO32': 'Bucuresti - Ilfov',
 'RO4': 'Macroregiunea patru',
 'RO41': 'Sud-Vest Oltenia',
 'RO42': 'Vest',
 'ROZ': 'Extra-Regio NUTS 1',
 'ROZZ': 'Extra-Regio NUTS 2',
 'RS': 'Serbia',
 'RS1': 'Srbija - sever',
 'RS11': 'Beogradski region',
 'RS12': 'Region Vojvodine',
 'RS2': 'Srbija - jug',
 'RS21': 'Region Sumadije i Zapadne Srbije',
 'RS22': 'Region Juzne i Istocne Srbije',
 'RSZ': 'Extra-Regio level 1',
 'RSZZ': 'Extra-Regio level 2',
 'SE': 'Sweden',
 'SE1': 'Östra Sverige',
 'SE11': 'Stockholm',
 'SE12': 'Östra Mellansverige',
 'SE2': 'Södra Sverige',
 'SE21': 'Småland med öarna',
 'SE22': 'Sydsverige',
 'SE23': 'Västsverige',
 'SE3': 'Norra Sverige',
 'SE31': 'Norra Mellansverige',
 'SE32': 'Mellersta Norrland',
 'SE33': 'Övre Norrland',
 'SEZ': 'Extra-Regio NUTS 1',
 'SEZZ': 'Extra-Regio NUTS 2',
 'SI': 'Slovenia',
 'SI0': 'Slovenija',
 'SI01': 'Vzhodna Slovenija (NUTS 2010)',
 'SI02': 'Zahodna Slovenija (NUTS 2010)',
 'SI03': 'Vzhodna Slovenija',
 'SI04': 'Zahodna Slovenija',
 'SIZ': 'Extra-Regio NUTS 1',
 'SIZZ': 'Extra-Regio NUTS 2',
 'SK': 'Slovakia',
 'SK0': 'Slovensko',
 'SK01': 'Bratislavský kraj',
 'SK02': 'Západné Slovensko',
 'SK03': 'Stredné Slovensko',
 'SK04': 'Východné Slovensko',
 'SKZ': 'Extra-Regio NUTS 1',
 'SKZZ': 'Extra-Regio NUTS 2',
 'TR': 'Turkey',
 'TR1': 'Istanbul',
 'TR10': 'Istanbul',
 'TR2': 'Bati Marmara',
 'TR21': 'Tekirdag, Edirne, Kirklareli',
 'TR22': 'Balikesir, Çanakkale',
 'TR3': 'Ege',
 'TR31': 'Izmir',
 'TR32': 'Aydin, Denizli, Mugla',
 'TR33': 'Manisa, Afyonkarahisar, Kütahya, Usak',
 'TR4': 'Dogu Marmara',
 'TR41': 'Bursa, Eskisehir, Bilecik',
 'TR42': 'Kocaeli, Sakarya, Düzce, Bolu, Yalova',
 'TR5': 'Bati Anadolu',
 'TR51': 'Ankara',
 'TR52': 'Konya, Karaman',
 'TR6': 'Akdeniz',
 'TR61': 'Antalya, Isparta, Burdur',
 'TR62': 'Adana, Mersin',
 'TR63': 'Hatay, Kahramanmaras, Osmaniye',
 'TR7': 'Orta Anadolu',
 'TR71': 'Kirikkale, Aksaray, Nigde, Nevsehir, Kirsehir',
 'TR72': 'Kayseri, Sivas, Yozgat',
 'TR8': 'Bati Karadeniz',
 'TR81': 'Zonguldak, Karabük, Bartin',
 'TR82': 'Kastamonu, Çankiri, Sinop',
 'TR83': 'Samsun, Tokat, Çorum, Amasya',
 'TR9': 'Dogu Karadeniz',
 'TR90': 'Trabzon, Ordu, Giresun, Rize, Artvin, Gümüshane',
 'TRA': 'Kuzeydogu Anadolu',
 'TRA1': 'Erzurum, Erzincan, Bayburt',
 'TRA2': 'Agri, Kars, Igdir, Ardahan',
 'TRB': 'Ortadogu Anadolu',
 'TRB1': 'Malatya, Elazig, Bingöl, Tunceli',
 'TRB2': 'Van, Mus, Bitlis, Hakkari',
 'TRC': 'Güneydogu Anadolu',
 'TRC1': 'Gaziantep, Adiyaman, Kilis',
 'TRC2': 'Sanliurfa, Diyarbakir',
 'TRC3': 'Mardin, Batman, Sirnak, Siirt',
 'TRZ': 'Extra-Regio level 1',
 'TRZZ': 'Extra-Regio level 2',
 'UK': 'United Kingdom',
 'UKC': 'North East (UK)',
 'UKD': 'North West (UK)',
 'UKE': 'Yorkshire and The Humber',
 'UKF': 'East Midlands (UK)',
 'UKG': 'West Midlands (UK)',
 'UKH': 'East of England',
 'UKI': 'London',
 'UKJ': 'South East (UK)',
 'UKK': 'South West (UK)',
 'UKL': 'Wales',
 'UKM': 'Scotland',
 'UKN': 'Northern Ireland (UK)',
 'UKZ': 'Extra-Regio NUTS 1'}

In [135]:
SEX =  es.get_sdmx_dic('educ_uoe_enra11', 'SEX')
SEX

{'F': 'Females', 'M': 'Males', 'T': 'Total'}

In [137]:
filter_pars = {'FREQ': ['A'], 'ISCED11':['ED6'], 'SEX':['T']}
EU_nuts2_sdmx_EDU = es.get_sdmx_data_df('educ_uoe_enra11','2010', '2020',filter_pars,flags=False, verbose = True)

Progress: 100.0%

In [138]:
pd.set_option('display.max_rows', 100)
EU_nuts2_sdmx_EDU

,ISCED11,UNIT,SEX,GEO,FREQ,2019,2018,2017,2016,2015,2014,2013
0,ED6,NR,T,AT,A,197202.0,199236.0,195964.0,192467.0,183768.0,179406.0,180234.0
1,ED6,NR,T,AT1,A,113027.0,115414.0,NaN,110813.0,105550.0,102896.0,103050.0
2,ED6,NR,T,AT11,A,1571.0,1750.0,NaN,1418.0,1366.0,1180.0,1115.0
3,ED6,NR,T,AT12,A,8091.0,9134.0,NaN,6876.0,6631.0,6462.0,6268.0
4,ED6,NR,T,AT13,A,103365.0,104530.0,NaN,102519.0,97554.0,95253.0,95667.0
...,...,...,...,...,...,...,...,...,...,...,...,...
461,ED6,NR,T,UKK,A,128303.0,125574.0,122838.0,117737.0,113622.0,109241.0,106729.0
462,ED6,NR,T,UKL,A,77050.0,77342.0,77483.0,76264.0,75252.0,76843.0,76551.0
463,ED6,NR,T,UKM,A,156540.0,153900.0,150631.0,147474.0,143895.0,142183.0,140879.0
464,ED6,NR,T,UKN,A,34488.0,34307.0,34986.0,35096.0,35389.0,34704.0,34565.0
465,ED6,NR,T,UKZ,A,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [139]:
EU_nuts2_Edu = EU_nuts2_sdmx_EDU[EU_nuts2_sdmx_EDU.GEO.str.contains(r'[0-9]')]
EU_nuts2_Edu = EU_nuts2_Edu.reset_index(drop=True)

In [140]:
EU_nuts2_Ed6 = EU_nuts2_Edu.rename({2010: "EDU_2010_ED6",2011: "EDU_2011_ED6",2012: "EDU_2012_ED6",2013: "EDU_2013_ED6",2014: "EDU_2014_ED6",
                  2015: "EDU_2015_ED6",2016: "EDU_2016_ED6",2017: "EDU_2017_ED6",2018: "EDU_2018_ED6",2019: "EDU_2019_ED6"},axis = 1)

In [148]:
filter_pars = {'FREQ': ['A'], 'ISCED11':['ED7'], 'SEX':['T']}
EU_nuts2_sdmx_EDU = es.get_sdmx_data_df('educ_uoe_enra11','2010', '2020',filter_pars,flags=False, verbose = True)
EU_nuts2_Edu = EU_nuts2_sdmx_EDU[EU_nuts2_sdmx_EDU.GEO.str.contains(r'[0-9]')]
EU_nuts2_Edu = EU_nuts2_Edu.reset_index(drop=True)
EU_nuts2_Ed7 = EU_nuts2_Edu.rename({2010: "EDU_2010_ED7",2011: "EDU_2011_ED7",2012: "EDU_2012_ED7",2013: "EDU_2013_ED7",2014: "EDU_2014_ED7",
                  2015: "EDU_2015_ED7",2016: "EDU_2016_ED7",2017: "EDU_2017_ED7",2018: "EDU_2018_ED7",2019: "EDU_2019_ED7"},axis = 1)

Progress: 100.0%

In [149]:
filter_pars = {'FREQ': ['A'], 'ISCED11':['ED8'], 'SEX':['T']}
EU_nuts2_sdmx_EDU = es.get_sdmx_data_df('educ_uoe_enra11','2010', '2020',filter_pars,flags=False, verbose = True)
EU_nuts2_Edu = EU_nuts2_sdmx_EDU[EU_nuts2_sdmx_EDU.GEO.str.contains(r'[0-9]')]
EU_nuts2_Edu = EU_nuts2_Edu.reset_index(drop=True)
EU_nuts2_Ed8 = EU_nuts2_Edu.rename({2010: "EDU_2010_ED8",2011: "EDU_2011_ED8",2012: "EDU_2012_ED8",2013: "EDU_2013_ED8",2014: "EDU_2014_ED8",
                  2015: "EDU_2015_ED8",2016: "EDU_2016_ED8",2017: "EDU_2017_ED8",2018: "EDU_2018_ED8",2019: "EDU_2019_ED8"},axis = 1)

Progress: 100.0%

In [150]:
EU_NUTS2_EDU_ALL = pd.merge(EU_nuts2_Ed7,EU_nuts2_Ed6, on='GEO', how='left')
EU_NUTS2_EDU_ALL = pd.merge(EU_nuts2_Ed8,EU_NUTS2_EDU_ALL,on='GEO', how='left')
pd.set_option('display.max_columns', None)
EU_NUTS2_EDU_ALL

,ISCED11,UNIT,SEX,GEO,FREQ,EDU_2019_ED8,EDU_2018_ED8,EDU_2017_ED8,EDU_2016_ED8,EDU_2015_ED8,EDU_2014_ED8,EDU_2013_ED8,ISCED11_x,UNIT_x,SEX_x,FREQ_x,EDU_2019_ED7,EDU_2018_ED7,EDU_2017_ED7,EDU_2016_ED7,EDU_2015_ED7,EDU_2014_ED7,EDU_2013_ED7,ISCED11_y,UNIT_y,SEX_y,FREQ_y,EDU_2019_ED6,EDU_2018_ED6,EDU_2017_ED6,EDU_2016_ED6,EDU_2015_ED6,EDU_2014_ED6,EDU_2013_ED6
0,ED8,NR,T,AT1,A,10625.0,11350.0,NaN,13412.0,13733.0,13920.0,14395.0,ED7,NR,T,A,76419.0,76482.0,NaN,75707.0,76682.0,76049.0,75890.0,ED6,NR,T,A,113027.0,115414.0,NaN,110813.0,105550.0,102896.0,103050.0
1,ED8,NR,T,AT11,A,0.0,0.0,NaN,0.0,0.0,0.0,0.0,ED7,NR,T,A,2593.0,2097.0,NaN,1350.0,1243.0,1128.0,718.0,ED6,NR,T,A,1571.0,1750.0,NaN,1418.0,1366.0,1180.0,1115.0
2,ED8,NR,T,AT12,A,24.0,17.0,NaN,4.0,2.0,3.0,3.0,ED7,NR,T,A,12568.0,12308.0,NaN,11301.0,10815.0,9905.0,8641.0,ED6,NR,T,A,8091.0,9134.0,NaN,6876.0,6631.0,6462.0,6268.0
3,ED8,NR,T,AT13,A,10601.0,11333.0,NaN,13408.0,13731.0,13917.0,14392.0,ED7,NR,T,A,61258.0,62077.0,NaN,63055.0,64624.0,65016.0,66531.0,ED6,NR,T,A,103365.0,104530.0,NaN,102519.0,97554.0,95253.0,95667.0
4,ED8,NR,T,AT2,A,3792.0,4060.0,NaN,4410.0,4520.0,4625.0,4930.0,ED7,NR,T,A,22063.0,23346.0,NaN,25252.0,25944.0,26700.0,26474.0,ED6,NR,T,A,37175.0,37106.0,NaN,35793.0,34687.0,33837.0,34543.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,ED8,NR,T,TRB1,A,2200.0,NaN,NaN,1778.0,1563.0,1175.0,1776.0,ED7,NR,T,A,12232.0,NaN,NaN,10590.0,8989.0,7526.0,6669.0,ED6,NR,T,A,66516.0,NaN,NaN,60517.0,56684.0,51946.0,46955.0
334,ED8,NR,T,TRB2,A,587.0,NaN,NaN,297.0,354.0,139.0,462.0,ED7,NR,T,A,7296.0,NaN,NaN,6936.0,5420.0,3966.0,3878.0,ED6,NR,T,A,22082.0,NaN,NaN,22525.0,21751.0,19750.0,17698.0
335,ED8,NR,T,TRC1,A,982.0,NaN,NaN,1060.0,942.0,433.0,639.0,ED7,NR,T,A,10701.0,NaN,NaN,12118.0,9506.0,8269.0,7202.0,ED6,NR,T,A,44568.0,NaN,NaN,44763.0,40291.0,34855.0,30372.0
336,ED8,NR,T,TRC2,A,870.0,NaN,NaN,835.0,643.0,103.0,1049.0,ED7,NR,T,A,8273.0,NaN,NaN,7901.0,6394.0,3888.0,5452.0,ED6,NR,T,A,30258.0,NaN,NaN,29746.0,29157.0,28546.0,27530.0
337,ED8,NR,T,TRC3,A,93.0,NaN,NaN,64.0,51.0,15.0,0.0,ED7,NR,T,A,3059.0,NaN,NaN,2046.0,1351.0,515.0,129.0,ED6,NR,T,A,20053.0,NaN,NaN,13489.0,11072.0,9111.0,7230.0

#### Percenatge of Pupil/Student population in a NUTS2 lvl

In [78]:
dims = es.get_sdmx_dims('educ_regind')
dims

['FREQ', 'GEO', 'INDICATORS', 'INDIC_ED', 'OBS_FLAG', 'TIME']

In [80]:
INDIC_ED = es.get_sdmx_dic('educ_regind', 'INDIC_ED')
INDIC_ED

{'R02_1': 'Students at ISCED level 3 (GEN) - as % of all students at ISCED level 3 at regional level',
 'R03_1': 'Students at ISCED levels 5-6 - as % of all pupils and students at regional level',
 'R03_2': 'Students in tertiary education (ISCED 5-6) - as % of the population aged 20-24 years at regional level',
 'R04_1': 'Ratio of the proportion of students (ISCED 5-6) over the proportion of the population by NUTS 1 and NUTS 2 regions',
 'R04_2': 'Students (ISCED 5-6) at regional level - as % of total country level students (ISCED 5-6)',
 'R04_3': 'Students (all ISCED levels) aged 17 at regional level - as % of corresponding age population',
 'R04_4': 'Pupils and Students in all levels of education (ISCED 0-6) - as % of total population at regional level',
 'R05_1': 'Participation rates of 4-years-olds in education at regional level',
 'R05_2': 'Pupils and Students in upper secondary and post-secondary non-tertiary education (ISCED 3-4) - as % of the population aged 15-24 years at regional level',
 'R05_3': 'Pupils in primary and lower secondary education (ISCED 1-2) - as % of total population at regional level'}

In [81]:
filter_pars = {'FREQ': ['A'], 'INDIC_ED':['R04_4']}
EU_nuts2_sdmx_EDU_Percentage = es.get_sdmx_data_df('educ_regind','2010', '2020',filter_pars,flags=False, verbose = True)

Progress: 100.0%

In [84]:
EU_nuts2_sdmx_EDU_Percentage

    INDIC_ED   GEO FREQ  2012  2011  2010
0      R04_4    AT    A  20.5  20.5  20.6
1      R04_4   AT1    A  21.2  21.0  21.1
2      R04_4  AT11    A  15.9  15.9  16.1
3      R04_4  AT12    A  17.0  17.0  17.1
4      R04_4  AT13    A  26.0  25.5  25.7
..       ...   ...  ...   ...   ...   ...
392    R04_4   UKK    A  20.4  20.5  20.3
393    R04_4   UKL    A  22.5  23.1  22.4
394    R04_4   UKM    A  22.0  20.5  22.1
395    R04_4   UKN    A  25.0  25.5  25.0
396    R04_4  UKN0    A  25.0  25.5  25.0

[397 rows x 6 columns]

This data with respect to the student population does not seems compelete, therefore wont be worked further

#### Young people neither in employment nor in education and training by sex and NUTS 2 regions

In [156]:
dims = es.get_sdmx_dims('edat_lfse_22')
dims

['AGE',
 'FREQ',
 'GEO',
 'INDICATORS',
 'OBS_FLAG',
 'SEX',
 'TIME',
 'TRAINING',
 'UNIT',
 'WSTATUS']

In [157]:
AGE = es.get_sdmx_dic('edat_lfse_22', 'AGE')
AGE

{'Y15-24': 'From 15 to 24 years',
 'Y15-29': 'From 15 to 29 years',
 'Y18-24': 'From 18 to 24 years'}

In [158]:
Train = es.get_sdmx_dic('edat_lfse_22', 'TRAINING')
Train

{'NO_FE_NO_NFE': 'Neither formal nor non-formal education or training'}

In [159]:
filter_pars = {'FREQ': ['A'], 'AGE':['Y15-29'] ,'TRAINING':['NO_FE_NO_NFE'],'SEX':['T']}
EU_nuts2_sdmx_NO_FE_NO_NFE = es.get_sdmx_data_df('edat_lfse_22','2010', '2020',filter_pars,flags=False, verbose = True)

Progress: 100.0%

In [160]:
EU_nuts2_NO_FE_NO_NFE = EU_nuts2_sdmx_NO_FE_NO_NFE[EU_nuts2_sdmx_NO_FE_NO_NFE.GEO.str.contains(r'[0-9]')]
EU_nuts2_NO_FE_NO_NFE = EU_nuts2_NO_FE_NO_NFE.reset_index(drop=True)
EU_nuts2_EDU_NFE = EU_nuts2_NO_FE_NO_NFE.rename({2010: "EDU_2010_NFE",2011: "EDU_2011_NFE",2012: "EDU_2012_NFE",2013: "EDU_2013_NFE",2014: "EDU_2014_NFE",
                  2015: "EDU_2015_NFE",2016: "EDU_2016_NFE",2017: "EDU_2017_NFE",2018: "EDU_2018_NFE",2019: "EDU_2019_NFE"},axis = 1)

In [162]:
EU_NUTS2_EDU_ALL_1 = pd.merge(EU_nuts2_EDU_NFE,EU_NUTS2_EDU_ALL,on='GEO', how='left')
EU_NUTS2_EDU_ALL_2 = EU_NUTS2_EDU_ALL_1.loc[0:337,:]
EU_NUTS2_EDU_ALL_2

C:\Users\venka\AppData\Local\Temp/ipykernel_13180/2186078760.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'UNIT_y', 'SEX_y', 'FREQ_y'} in the result is deprecated and will raise a MergeError in a future version.
  EU_NUTS2_EDU_ALL_1 = pd.merge(EU_nuts2_EDU_NFE,EU_NUTS2_EDU_ALL,on='GEO', how='left')

,UNIT_x,SEX_x,WSTATUS,AGE,TRAINING,GEO,FREQ_x,2020,EDU_2019_NFE,EDU_2018_NFE,EDU_2017_NFE,EDU_2016_NFE,EDU_2015_NFE,EDU_2014_NFE,EDU_2013_NFE,EDU_2012_NFE,EDU_2011_NFE,EDU_2010_NFE,ISCED11,UNIT_y,SEX_y,FREQ_y,EDU_2019_ED8,EDU_2018_ED8,EDU_2017_ED8,EDU_2016_ED8,EDU_2015_ED8,EDU_2014_ED8,EDU_2013_ED8,ISCED11_x,UNIT_x,SEX_x,FREQ_x,EDU_2019_ED7,EDU_2018_ED7,EDU_2017_ED7,EDU_2016_ED7,EDU_2015_ED7,EDU_2014_ED7,EDU_2013_ED7,ISCED11_y,UNIT_y,SEX_y,FREQ_y,EDU_2019_ED6,EDU_2018_ED6,EDU_2017_ED6,EDU_2016_ED6,EDU_2015_ED6,EDU_2014_ED6,EDU_2013_ED6
0,PC,T,NEMP,Y15-29,NO_FE_NO_NFE,AT1,A,10.9,9.9,10.0,9.9,11.2,10.5,11.4,10.1,9.6,10.3,10.1,ED8,NR,T,A,10625.0,11350.0,NaN,13412.0,13733.0,13920.0,14395.0,ED7,NR,T,A,76419.0,76482.0,NaN,75707.0,76682.0,76049.0,75890.0,ED6,NR,T,A,113027.0,115414.0,NaN,110813.0,105550.0,102896.0,103050.0
1,PC,T,NEMP,Y15-29,NO_FE_NO_NFE,AT11,A,NaN,NaN,9.9,8.0,10.6,8.1,8.9,8.7,8.0,7.6,7.8,ED8,NR,T,A,0.0,0.0,NaN,0.0,0.0,0.0,0.0,ED7,NR,T,A,2593.0,2097.0,NaN,1350.0,1243.0,1128.0,718.0,ED6,NR,T,A,1571.0,1750.0,NaN,1418.0,1366.0,1180.0,1115.0
2,PC,T,NEMP,Y15-29,NO_FE_NO_NFE,AT12,A,8.2,8.3,6.9,7.7,8.3,7.9,10.0,8.0,7.2,9.3,7.8,ED8,NR,T,A,24.0,17.0,NaN,4.0,2.0,3.0,3.0,ED7,NR,T,A,12568.0,12308.0,NaN,11301.0,10815.0,9905.0,8641.0,ED6,NR,T,A,8091.0,9134.0,NaN,6876.0,6631.0,6462.0,6268.0
3,PC,T,NEMP,Y15-29,NO_FE_NO_NFE,AT13,A,13.3,11.5,12.4,11.8,13.4,12.8,12.9,12.0,11.8,11.6,12.4,ED8,NR,T,A,10601.0,11333.0,NaN,13408.0,13731.0,13917.0,14392.0,ED7,NR,T,A,61258.0,62077.0,NaN,63055.0,64624.0,65016.0,66531.0,ED6,NR,T,A,103365.0,104530.0,NaN,102519.0,97554.0,95253.0,95667.0
4,PC,T,NEMP,Y15-29,NO_FE_NO_NFE,AT2,A,8.9,7.8,7.0,7.6,7.4,8.3,8.2,8.8,7.8,6.8,8.8,ED8,NR,T,A,3792.0,4060.0,NaN,4410.0,4520.0,4625.0,4930.0,ED7,NR,T,A,22063.0,23346.0,NaN,25252.0,25944.0,26700.0,26474.0,ED6,NR,T,A,37175.0,37106.0,NaN,35793.0,34687.0,33837.0,34543.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
333,PC,T,NEMP,Y15-29,NO_FE_NO_NFE,SE33,A,5.2,6.6,6.8,5.1,5.8,6.6,7.2,8.5,8.5,8.1,9.8,ED8,NR,T,A,1376.0,1457.0,1589.0,1693.0,1784.0,1809.0,1813.0,ED7,NR,T,A,12583.0,13077.0,12743.0,12532.0,12270.0,11746.0,11265.0,ED6,NR,T,A,18698.0,18728.0,18584.0,18344.0,18291.0,19427.0,22140.0
334,PC,T,NEMP,Y15-29,NO_FE_NO_NFE,SI0,A,9.2,8.8,8.8,9.3,10.9,12.3,12.9,12.9,11.8,9.4,9.4,ED8,NR,T,A,3089.0,2824.0,2558.0,2331.0,2644.0,3016.0,3606.0,ED7,NR,T,A,20988.0,21517.0,21864.0,22013.0,22594.0,23483.0,26040.0,ED6,NR,T,A,41348.0,41840.0,44124.0,45292.0,48893.0,53019.0,56825.0
335,PC,T,NEMP,Y15-29,NO_FE_NO_NFE,SI01,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ED8,NR,T,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ED7,NR,T,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ED6,NR,T,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
336,PC,T,NEMP,Y15-29,NO_FE_NO_NFE,SI02,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ED8,NR,T,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ED7,NR,T,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ED6,NR,T,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN
337,PC,T,NEMP,Y15-29,NO_FE_NO_NFE,SI03,A,10.6,10.1,10.0,10.0,11.8,13.9,14.8,14.7,13.3,10.9,10.7,ED8,NR,T,A,625.0,529.0,504.0,397.0,444.0,512.0,614.0,ED7,NR,T,A,4622.0,4679.0,4897.0,5128.0,5365.0,5670.0,6057.0,ED6,NR,T,A,11269.0,11823.0,12715.0,12878.0,14280.0,16008.0,17385.0

### Water Data NUTS2 level is not available at Euro Stat

In [179]:
filter_pars = {'FREQ': ['A'],'WAT_PROC':['ABST']}
EU_nuts2_sdmx_WA = es.get_sdmx_data_df('env_wat_abs','2010', '2020',filter_pars,flags=False, verbose = True)
#EU_nuts2_WA = EU_nuts2_sdmx_WA[EU_nuts2_sdmx_WA.GEO.str.contains(r'[0-9]')]
#EU_nuts2_WA = EU_nuts2_WA.reset_index(drop=True)
EU_nuts2_WA_A = EU_nuts2_sdmx_WA.rename({2010: "A_2010_WA",2011: "A_2011_WA",2012: "A_2012_WA",2013: "A_2013_WA",2014: "A_2014_WA",
                  2015: "A_2015_WA",2016: "A_2016_WA",2017: "A_2017_WA",2018: "A_2018_WA",2019: "A_2019_WA"},axis = 1)
EU_nuts2_WA_A

Progress: 100.0%

,UNIT,WAT_PROC,WAT_SRC,GEO,FREQ,A_2018_WA,A_2017_WA,A_2016_WA,A_2015_WA,A_2014_WA,A_2013_WA,A_2012_WA,A_2011_WA,A_2010_WA
0,M3_HAB,ABST,FGW,AL,A,34.57,37.64,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M3_HAB,ABST,FGW,AT,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M3_HAB,ABST,FGW,BA,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,M3_HAB,ABST,FGW,BE,A,NaN,NaN,NaN,56.24,56.5,57.39,57.43,54.76,56.49
4,M3_HAB,ABST,FGW,BG,A,80.35,81.92,78.42,77.52,75.47,76.61,77.19,73.92,75.01
5,M3_HAB,ABST,FGW,CH,A,NaN,NaN,NaN,NaN,NaN,NaN,126.38,NaN,NaN
6,M3_HAB,ABST,FGW,CY,A,179.35,181.33,182.71,177.09,157.34,161.69,179.81,184.58,170.91
7,M3_HAB,ABST,FGW,CZ,A,34.91,34.92,34.38,34.77,34.34,35.31,36.11,36.06,36.06
8,M3_HAB,ABST,FGW,DE,A,NaN,NaN,72.56,NaN,NaN,73.47,NaN,NaN,71.4
9,M3_HAB,ABST,FGW,DK,A,150.86,120.42,119.5,123.78,136.75,135.02,111.47,128.15,123.58
10,M3_HAB,ABST,FGW,EE,A,NaN,187.89,168.7,153.63,151.24,161.19,206.61,224.94,222.01
11,M3_HAB,ABST,FGW,EL,A,579.56,578.86,577.9,516.63,513.25,510.12,506.46,505.11,NaN
12,M3_HAB,ABST,FGW,ES,A,NaN,NaN,137.68,136.37,135.53,130.75,138.75,131.64,142.0
13,M3_HAB,ABST,FGW,FI,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,M3_HAB,ABST,FGW,FR,A,NaN,85.2,82.68,86.73,80.08,85.69,85.91,90.92,92.53
15,M3_HAB,ABST,FGW,HR,A,103.21,102.22,103.41,101.17,98.56,101.93,104.96,103.19,104.51
16,M3_HAB,ABST,FGW,HU,A,52.6,59.49,49.55,49.89,48.15,50.06,50.74,50.37,49.7
17,M3_HAB,ABST,FGW,IE,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,M3_HAB,ABST,FGW,IS,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,M3_HAB,ABST,FGW,IT,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,M3_HAB,ABST,FGW,LT,A,57.99,54.8,54.43,53.72,53.98,53.31,50.13,50.87,50.5
21,M3_HAB,ABST,FGW,LU,A,NaN,NaN,39.91,45.83,48.52,46.79,39.82,43.76,46.41
22,M3_HAB,ABST,FGW,LV,A,56.24,42.81,41.26,40.54,41.72,43.38,41.55,42.91,44.95
23,M3_HAB,ABST,FGW,MK,A,NaN,NaN,NaN,NaN,100.3,NaN,NaN,NaN,NaN
24,M3_HAB,ABST,FGW,MT,A,81.27,90.77,92.31,89.63,98.81,102.96,89.74,94.65,98.88
25,M3_HAB,ABST,FGW,NL,A,69.13,59.4,57.92,58.73,57.34,59.12,56.22,59.39,60.16
26,M3_HAB,ABST,FGW,NO,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,M3_HAB,ABST,FGW,PL,A,66.06,67.36,68.31,68.61,67.8,68.52,69.48,71.79,71.58
28,M3_HAB,ABST,FGW,PT,A,NaN,200.31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,M3_HAB,ABST,FGW,RO,A,34.61,32.89,32.13,29.69,27.77,29.02,29.76,29.7,30.75
30,M3_HAB,ABST,FGW,RS,A,70.87,65.41,62.38,67.09,63.96,66.53,70.03,69.32,70.26
31,M3_HAB,ABST,FGW,SE,A,NaN,NaN,NaN,37.45,NaN,NaN,NaN,NaN,36.94
32,M3_HAB,ABST,FGW,SI,A,91.75,91.24,87.25,88.03,88.21,87.96,87.38,90.09,90.47
33,M3_HAB,ABST,FGW,SK,A,62.26,61.54,59.58,60.1,59.32,60.84,62.71,62.01,63.3
34,M3_HAB,ABST,FGW,TR,A,200.22,193.7,191.26,187.91,190.43,179.3,181.47,183.93,181.06
35,M3_HAB,ABST,FGW,UK,A,NaN,NaN,NaN,NaN,31.9,NaN,32.22,34.25,34.43
36,M3_HAB,ABST,FGW,UKC-L,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,M3_HAB,ABST,FGW,XK,A,9.11,8.41,10.05,NaN,NaN,NaN,NaN,NaN,NaN

In [180]:
filter_pars = {'FREQ': ['A'],'WAT_PROC':['ABS_PWS']}
EU_nuts2_sdmx_WA = es.get_sdmx_data_df('env_wat_abs','2010', '2020',filter_pars,flags=False, verbose = True)
#EU_nuts2_WA = EU_nuts2_sdmx_WA[EU_nuts2_sdmx_WA.GEO.str.contains(r'[0-9]')]
#EU_nuts2_WA = EU_nuts2_WA.reset_index(drop=True)
EU_nuts2_WA_P = EU_nuts2_sdmx_WA.rename({2010: "P_2010_WA",2011: "P_2011_WA",2012: "P_2012_WA",2013: "P_2013_WA",2014: "P_2014_WA",
                  2015: "P_2015_WA",2016: "P_2016_WA",2017: "P_2017_WA",2018: "P_2018_WA",2019: "P_2019_WA"},axis = 1)
EU_nuts2_WA_P

Progress: 100.0%

,UNIT,WAT_PROC,WAT_SRC,GEO,FREQ,P_2018_WA,P_2017_WA,P_2016_WA,P_2015_WA,P_2014_WA,P_2013_WA,P_2012_WA,P_2011_WA,P_2010_WA
0,M3_HAB,ABS_PWS,FGW,AL,A,28.67,31.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M3_HAB,ABS_PWS,FGW,AT,A,NaN,NaN,75.86,NaN,NaN,NaN,NaN,NaN,82.02
2,M3_HAB,ABS_PWS,FGW,BA,A,NaN,NaN,NaN,NaN,NaN,NaN,71.21,71.43,73.28
3,M3_HAB,ABS_PWS,FGW,BE,A,NaN,NaN,NaN,41.51,41.21,42.23,41.84,40.52,41.71
4,M3_HAB,ABS_PWS,FGW,BG,A,63.92,65.88,63.47,61.21,59.24,60.82,60.9,59.19,59.43
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,M3_HAB,ABS_PWS,FSW,SK,A,8.62,8.74,8.5,8.67,8.23,8.74,9.09,9.01,8.9
110,M3_HAB,ABS_PWS,FSW,TR,A,41.01,41.26,41.55,37.73,33.79,34.77,35.72,35.32,35.26
111,M3_HAB,ABS_PWS,FSW,UK,A,NaN,NaN,NaN,NaN,55.29,NaN,65.26,64.64,67.63
112,M3_HAB,ABS_PWS,FSW,UKC-L,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
113,M3_HAB,ABS_PWS,FSW,XK,A,87.72,86.47,81.13,NaN,NaN,NaN,NaN,81.62,63.16

In [181]:
filter_pars = {'FREQ': ['A'],'WAT_PROC':['ABS_IND']}
EU_nuts2_sdmx_WA = es.get_sdmx_data_df('env_wat_abs','2010', '2020',filter_pars,flags=False, verbose = True)
#EU_nuts2_WA = EU_nuts2_sdmx_WA[EU_nuts2_sdmx_WA.GEO.str.contains(r'[0-9]')]
#EU_nuts2_WA = EU_nuts2_WA.reset_index(drop=True)
EU_nuts2_WA_I = EU_nuts2_sdmx_WA.rename({2010: "I_2010_WA",2011: "I_2011_WA",2012: "I_2012_WA",2013: "I_2013_WA",2014: "I_2014_WA",
                  2015: "I_2015_WA",2016: "I_2016_WA",2017: "I_2017_WA",2018: "I_2018_WA",2019: "I_2019_WA"},axis = 1)
EU_nuts2_WA_I

Progress: 100.0%

,UNIT,WAT_PROC,WAT_SRC,GEO,FREQ,I_2018_WA,I_2017_WA,I_2016_WA,I_2015_WA,I_2014_WA,I_2013_WA,I_2012_WA,I_2011_WA,I_2010_WA
0,M3_HAB,ABS_IND,FGW,AL,A,NaN,0.63,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,M3_HAB,ABS_IND,FGW,AT,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,M3_HAB,ABS_IND,FGW,BA,A,NaN,NaN,NaN,NaN,NaN,NaN,4.44,3.51,8.32
3,M3_HAB,ABS_IND,FGW,BE,A,NaN,NaN,NaN,4.64,4.55,5.26,5.68,NaN,NaN
4,M3_HAB,ABS_IND,FGW,BG,A,9.94,10.08,9.68,11.65,10.55,9.72,9.75,9.84,9.81
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,MIO_M3,ABS_IND,FGW,SK,A,57.7,52.2,50.4,50.3,48.7,50.3,51.0,48.7,48.5
148,MIO_M3,ABS_IND,FGW,TR,A,557.21,NaN,512.8,NaN,474.67,NaN,422.29,NaN,585.9
149,MIO_M3,ABS_IND,FGW,UK,A,NaN,NaN,NaN,NaN,169.1,NaN,172.0,188.7,193.5
150,MIO_M3,ABS_IND,FGW,UKC-L,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,MIO_M3,ABS_IND,FGW,XK,A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
filter_pars = {'FREQ': ['A'],'WAT_PROC':['ABS_IND']}
EU_nuts2_sdmx_WA = es.get_sdmx_data_df('env_wat_abs','2010', '2020',filter_pars,flags=False, verbose = True)
#EU_nuts2_WA = EU_nuts2_sdmx_WA[EU_nuts2_sdmx_WA.GEO.str.contains(r'[0-9]')]
#EU_nuts2_WA = EU_nuts2_WA.reset_index(drop=True)
EU_nuts2_WA_I = EU_nuts2_sdmx_WA.rename({2010: "I_2010_WA",2011: "I_2011_WA",2012: "I_2012_WA",2013: "I_2013_WA",2014: "I_2014_WA",
                  2015: "I_2015_WA",2016: "I_2016_WA",2017: "I_2017_WA",2018: "I_2018_WA",2019: "I_2019_WA"},axis = 1)
EU_nuts2_WA_I

### Corporate Tax

In [129]:
Tax = pd.read_html('https://taxfoundation.org/integrated-tax-rates-on-corporate-income-in-europe')[0]
Tax

                                         OECD Country  \
                                         OECD Country
0                                        Austria (AT)
1                                        Belgium (BE)
2                                 Czech Republic (CZ)
3                                        Denmark (DK)
4                                        Estonia (EE)
5                                        Finland (FI)
6                                         France (FR)
7                                        Germany (DE)
8                                         Greece (GR)
9                                        Hungary (HU)
10                                       Iceland (IS)
11                                       Ireland (IE)
12                                         Italy (IT)
13                                        Latvia (LV)
14                                     Lithuania (LT)
15                                    Luxembourg (LU)
16                                   Netherlands (NL)
17                                        Norway (NO)
18                                        Poland (PL)
19                                      Portugal (PT)
20                               Slovak Republic (SK)
21                                      Slovenia (SI)
22                                         Spain (ES)
23                                        Sweden (SE)
24                                   Switzerland (CH)
25                                        Turkey (TR)
26                                United Kingdom (GB)
27                                            Average
28  Notes: Integrated tax rates are calculated as ...

                  Statutory Corporate Income Tax Rate  \
                  Statutory Corporate Income Tax Rate
0                                               25.0%
1                                               29.0%
2                                               19.0%
3                                               22.0%
4                                               20.0%
5                                               20.0%
6                                               32.0%
7                                               29.9%
8                                               24.0%
9                                                9.0%
10                                              20.0%
11                                              12.5%
12                                              24.0%
13                                              20.0%
14                                              15.0%
15                                              24.9%
16                                              25.0%
17                                              22.0%
18                                              19.0%
19                                              31.5%
20                                              21.0%
21                                              19.0%
22                                              25.0%
23                                              21.4%
24                                              21.1%
25                                              22.0%
26                                              19.0%
27                                              21.9%
28  Notes: Integrated tax rates are calculated as ...

                                            Dividends  \
                       Top Personal Dividend Tax Rate
0                                               27.5%
1                                               30.0%
2                                               15.0%
3                                               42.0%
4                                                0.0%
5                                               28.9%
6                                               34.0%
7                                               26.4%
8                                                5.0%
9                                               15.0%
10                                              22.0%
11                                              51.0%
12                                              26.0%
13                                               0.0%
14                                              15.0%
15                                              21.0%
16                                              25.0%
17                                              31.7%
18                                              19.0%
19                                              28.0%
20                                               7.0%
21                                              27.5%
22                                              23.0%
23                                              30.0%
24                                              22.3%
25                                              20.0%
26                                              38.1%
27                                              23.3%
28  Notes: Integrated tax rates are calculated as ...

                                                       \
       Integrated Tax on Corporate Income (Dividends)
0                                               45.6%
1                                               50.3%
2                                               31.2%
3                                               54.8%
4                                               20.0%
5                                               43.1%
6                                               55.1%
7                                               48.4%
8                                               27.8%
9                                               22.7%
10                                              37.6%
11                                              57.1%
12                                              43.8%
13                                              20.0%
14                                              27.8%
15                                              40.7%
16                                              43.8%
17                                              46.7%
18                                              34.4%
19                                              50.7%
20                                              26.5%
21                                              41.3%
22                                              42.3%
23                                              45.0%
24                                              38.7%
25                                              37.6%
26                                              49.9%
27                                              40.1%
28  Notes: Integrated tax rates are calculated as ...

                                    Capital Gains (a)  \
                  Top Personal Capital Gains Tax Rate
0                                               27.5%
1                                                0.0%
2                                                0.0%
3                                               42.0%
4                                               20.0%
5                                               34.0%
6                                               30.0%
7                                               26.4%
8                                               15.0%
9                                               15.0%
10                                              22.0%
11                                              33.0%
12                                              26.0%
13                                              20.0%
14                                              20.0%
15                                               0.0%
16                                              30.0%
17                                              31.7%
18                                              19.0%
19                                              28.0%
20                                               0.0%
21                                               0.0%
22                                              23.0%
23                                              30.0%
24                                               0.0%
25                                               0.0%
26                                              20.0%
27                                              19.0%
28  Notes: Integrated tax rates are calculated as ...


   Integrated Tax on Corporate Income (Capital Gains)
0                                               45.6%
1                                               29.0%
2                                               19.0%
3                                               54.8%
4                                               36.0%
5                                               47.2%
6                                               52.4%
7                                               48.4%
8                                               35.4%
9                                               22.7%
10                                              37.6%
11                                              41.4%
12                                              43.8%
13                                              36.0%
14                                              32.0%
15                                              24.9%
16                                              47.5%
17                                              46.7%
18                                              34.4%
19                                              50.7%
20                                              21.0%
21                                              19.0%
22                                              42.3%
23                                              45.0%
24                                              21.1%
25                                              22.0%
26                                              35.2%
27                                              36.7%
28  Notes: Integrated tax rates are calculated as ...